@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-brand: #0d9489;
  --color-accent: #0a9487;
  --color-secondary: #dbefed;
  --color-border: #e5e5e5;
}

.policy-circle-privacy {
  width: 200px;
  height: 200px;
  background-image: url("/privacy_label.jpg");
  background-repeat: no-repeat;
  background-position: -320px -190px;
  background-size: 150px;
}
/* 300,190*/
